<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
</head>
<body>
<h1>Project List</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Technology</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.id}"></td>
        <td th:text="${project.name}"></td>
        <td th:text="${project.description}"></td>
        <td th:text="${project.technology}"></td>
        <td th:text="${project.startDate}"></td>
        <td th:text="${project.endDate}"></td>
        <td th:text="${project.status}"></td>
        <td>
            <a th:href="@{/project/edit/{id}(id=${project.id})}">Edit</a>
            <a th:href="@{/project/delete/{id}(id=${project.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/project/add">Add New Project</a>
</body>
</html>
