<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/adddepartment.css">
</head>
<body>
<form action="/department/add" method="post">
    <label for="deparmentName">Tên danh mục</label>
    <input type="text" name="deparmentName" id="deparmentName"><br>

    <label for="status">Trạng thái</label>
    <select name="status" id="status">
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
    <button type="submit">Add</button>
</form>

</body>
</html>